
* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

#full-page {
    width: 100%;
    height: fit-content;
    border: 0px solid red;
    position: relative;
    opacity: rgba(248, 244, 244, 1);
}

/* Billing Section */

#billing-section {
    width: 22%;
    height: 90vh;
    border: 0px solid blue;
    overflow: auto;
    position: absolute;
    top: 0;
    right: 0;
}

#billing-section > div:nth-child(1) {
    width: 100%;
    height: 15%;
    margin-top: -5px;
    padding-top: 7px;
    border: 0px solid red;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#billing-section > div:nth-child(1) > div {
    width: fit-content;
    height: 35%;
    margin-left: 10px;
    padding: 0 10px;
    border: 1px solid grey;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#delievery-date {
    margin-left: 10px;
    font-size: 14px;
}

#clear {
    font-size: 14px;
    text-decoration: underline;
    color: blue;
    position: absolute;
    left: 10px;
    cursor: pointer;
    border: 0px solid red;
}

.clicked-items {
    width: 100%;
    height: auto;
    margin-top: 50px;
    border: 0px solid green;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    overflow-y: auto;
}

.one_item_bill {
    width: 95%;
    height: 80px;
    margin: 0 auto 15px auto;
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.one_item_bill:hover {
    background-color: antiquewhite;
}

.bill_image_container img {
    width: 100%;
    height: 70%;
    scale: 1.4;
    box-shadow: 1px 1px 2px 5px grey;
}

.bill_image_container {
    width: 25%;
    height: 75%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub_container {
    width: 60%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_container {
    width: 10%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid red;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transform: rotate(45deg);
}


/* Navbar */
#navbar {
    width: 77.8%;
    height: 50px;
    border: 0px solid green;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

#navbar a {
    font-size: 20px;
    text-decoration: none;
    color: blue;
}

#navbar > a:nth-child(1) {
    margin-left: 20px;
}

/* #navbar > a:nth-child(2) */
#customer-support {
    margin-right: 20px;
}

#below-navbar {
    width: 77.8%;
    height: 50px;
    background-color: #fffdf7;
    border: 0px solid grey;
    position: absolute;
    top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

#below-navbar button {
    margin-right: 20px;
    font-weight: bold;
    color: blue;
    border: none;
    height: 95%;
    padding: 0 16px;
    cursor: pointer;
}

#below-navbar p {
    margin-left: 20px;
    font-size: 18px;
}

#below-navbar button:hover {
    color: white;
    background-color: blue;
}

.filterBtn {
    display: none;
}

.filterBtn:hover {
    background-color: white;
    color: blue;
}

#sidebar {
    width: 14%;
    height: 100vh;
    border: 0px solid blue;
    background-color: #fffdf7;
    position: absolute;
    top: 103px;
    transition: 0.4s;
    left: -14%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow: auto;
    /* z-index: -1; */
}

#mealsArrow {
    font-size: 12px; 
    margin-left: 20px;
}

.closeSideBar {
    transform: rotate(45deg);
    position: absolute;
    right: 30px;
    top: -10px;
    font-size: 50px;
    display: none;
}

#sidebar.active {
    left: 0;
}

#sidebar button {
    margin: 15px 0 0 20px;
    background-color: blue;
    color: white;
    font-size: 17px;
    padding: 5px 17px;
    border-radius: 20px;
    border: none;
    box-shadow: 1px 1px 5px 2px black;
    border: 1px solid white;
    
}

#sidebar button:active {
    scale: 0.95;
    
}

.sidebarImg {
    width: 36px;
    height: 36px;
    margin: 0 7px 0 7px;
}

#sidebar .sidebarImgDiv {
    display: flex;
    align-items: center;
    border: 0px solid red;
}

#grid-container {
    width: fit-content;
    height: 90vh;
    border: 0px solid purple;
    background-color: #fffdf7;
    padding: 10px 5px;
    position: absolute;
    right: 23%;
    top: 103px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 20px;
    overflow-y: scroll;
    transition: 0.4s;
}

.grid-container-class {
    grid-template-columns: repeat(3,1fr) !important;
}

.cardDiv {
    border: 0px solid red;
    border-radius: 12px;
    cursor: pointer;
    background-color: white;
    position: relative;
    min-height: 400px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.cardDiv > div:nth-child(1) {
    width: 100%;
    overflow: hidden;
}

.cardDiv > .adding {
    font-family: normal;
    width: 36px;
    height: 36px;
    text-align: center;
    background-color: rgb(42, 108, 231);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
    border-radius: 20px;
    position: absolute;
    right: 8px;
    bottom: 8px;
}

.adding:hover {
    background-color: rgb(13, 69, 173);
}

.adding_Button {
    width: 85px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    border: 1px solid grey;
    font-size: 30px;
    font-weight: bold;
    border-radius: 20px;
    position: absolute;
    right: 8px;
    bottom: 8px;
    transition: 0.1s;
    padding-right: 13px;
    display: none;
}

.adding_Button > p:nth-child(1) {
    margin: 0 0 28px 0;
}

/* .adding_Button > p:nth-child(2) */
.count {
    margin: 0 0 0 12px;
    font-size: 20px;
}

/* .adding_Button > p:nth-child(3) */
.adding_Button p + p {
    margin-left: -7px;
    font-size: 25px;
}

.cardDiv:hover img{
    scale: 1.2;
}

.img_container {
    border-radius: 12px 12px 0 0;
}

.cardDiv > div > img {
    width: 100%;
    border-radius: 12px 12px 0 0;
    transition: 0.5s;
}

.cardDiv h3 {
    padding-left: 15px;
}

.cardDiv p {
    padding-left: 15px;
}

#detail-window {
    width: 55%;
    height: 85vh;
    background-color: #fffdf7;
    overflow: auto;
    position: absolute;
    top: 7vh;
    left: 50vh;
    /* transform: translate(-50%, -50%); */
    display: none;
}

.topBox {
    width: 100%;
    height: 25%;
    border: 0px solid red;
    position: relative;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.topBoxPart1 {
    width: 75%;
    height: 100%;
    margin: auto 20px;
    position: absolute;
    left: 0;
    border: 0px solid green;
}

.topBoxPart1 > p:nth-child(4) {
    margin-left: 20px;
}

.soyGluten {
    display: inline;
    padding: 5px;
    background-color: rgb(250, 245, 245);
}

.topBoxPart2 {
    width: 5%;
    height: 20%;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);
    position: absolute;
    right: 15px;
    top: 0;
    border: 0px solid red;
    cursor: pointer;
}

.bottomBox {
    width: 95%;
    height: 70%;
    margin: auto;
    margin-top: 2%;
    border: 0px solid green;
    overflow: auto;
}

.imgBox1 {
    width: 45%;
    height: 70%;
    border: 0px solid blue;
    float: left;
    margin-top: 15px;
}
.imgBox1 img {
    width: 100%;
    border-radius: 15px;
}

.imgBox2 {
    width: 45%;
    height: 70%;
    border: 0px solid green;
    float: left;
    margin-top: 15px;
}
.imgBox2 img {
    width: 100%;
    border-radius: 15px;
}

.detailsBox3 {
    width: 45%;
    height: auto;
    min-height: 85%;
    padding: 0 13px;
    border: 0px solid red;
    float: right;
    margin-top: 15px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.detailsBox4 {
    width: 45%;
    height: auto;
    padding: 0 13px;
    float: right;
    margin-top: 15px;
    border: 0px solid red;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.div0 {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    gap: 30px;
    border: 0px solid;
}

.div0 > div {
    border: 0px solid yellow;
}

.cal_p {
    margin-top: -17px;
    color: grey;
}

.n_name {
    margin-bottom: -10px;
}

.n_name + p {
    color: gray;
}

.inside_info {
    margin-left: 10px;
    font-weight: bold;
}

.gram_info {
    margin-left: 10px;
    margin-top: -10px;
    font-size: 35px;
}



/* This is inside popup window */
.popupCloser {
    font-size: 40px;
    position: absolute;
    top: -10px;
    right: 20px;
    transform: rotate(45deg);
    cursor: pointer;
}



/* Media Queries */

@media only screen and (max-width: 2000px){
    #grid-container {
        grid-template-columns: repeat(4,1fr);
    }
}


@media only screen and (max-width: 1300px){
    #grid-container {
        grid-template-columns: repeat(3,1fr);
    }
    .cardDiv {
        min-height: 370px;
    }
    .grid-container-class {
        grid-template-columns: repeat(2,1fr) !important;
    }
    
}


@media only screen and (max-width: 970px){
    #grid-container {
        grid-template-columns: repeat(2,1fr);
    }
    .cardDiv {
        min-height: 360px;
    }
    #billing-section {
        width: 25%;
    }
    .grid-container-class {
        grid-template-columns: repeat(2,1fr) !important;
    }
    #billing-section > div:nth-child(1) {
        margin-top: -2px;
        padding-top: 3px;
    }
    #billing-section > div:nth-child(1) > div {
        margin-left: 20px;
        padding: 0 20px;
        border-radius: 50px;
    }
    
    #delievery-date {
        margin-left: 16px;
    }
    
    #clear {
        left: 20px;
    }
}


@media only screen and (max-width: 770px){
    #grid-container {
        width: 100%;
        height: 60vh;
        margin: auto;
        right: 0;
        left: 0;
        grid-template-columns: repeat(1,1fr);
    }
    .cardDiv {
        min-height: 360px; 
    }
    .grid-container-class {
        grid-template-columns: repeat(1,1fr) !important;
    }
    #billing-section {
        width: 100%;
        height: 90vh;
        top: 80vh;
        /* right: 0; */
    }    
    #billing-section > div:nth-child(1) {
        margin-top: 0;
        padding-top: 0;
    }
    #billing-section > div:nth-child(1) > div {
        margin-left: 50px;
        padding: 0 20px;
        height: 35%;
        flex-wrap: wrap;
    }
    
    #delievery-date {
        margin-left: 16px;
    }
    
    #clear {
        left: 20px;
    }
    #sidebar {
        width: 90%;
        height: 100vh;
        margin: auto;
        z-index: 1;
        top: -100vh;
        left: 0;
        padding-left: 50px;
    }
    #sidebar.active {
        top: 0;
    }
    .closeSideBar {
        display: block;
    }
    #navbar {
        width: 100%;
        height: 50px;
    }
    #below-navbar {
        width: 100%;
    }
    #mealsArrow {
        margin-left: 0px !important;
    }
    .filterBtn {
        display: block;
    }
    #hide-filters {
        display: none;
    }
}
