/*CSS for common question*/
/*Copy it to your CSS file*/

#common_question{
    width: 80%;
    margin: auto;
   
}
.question{
    box-sizing: border-box;
    margin-top: 16px;
   /* margin-bottom: 10px;*/
    font-size: 16px;
    line-height: 1.25em;
    font-weight: 700;
    cursor: pointer;
    color: #3167ff;
  
    font-family: Favoritfreshly,sans-serif;
}
.answer{
    display: none;
    margin-top: 0px;
    transition: max-height 1.4s ease;
}
#common_question_heading{
    color: #333;
    font-size: 1.2rem;
    line-height: 1.08em;
    font-weight: 700; 
    text-align: center;    
}
.question span{  
    margin-left:95%;
    color: #333333;
}
.arrow_image{
    width: 15px;  
   transition: transform 0.2s ease-in;
}

.question.active .arrow_image{
    transform: rotate(180deg);
}


